<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TotoDiet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F1080E91D8E4EA42DFCFFF78409ED50A8913D571</string>
				<key>dateExpires</key>
				<string>24/09/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>726YTZXNR7.com.imatz.toto.Nutrition</string>
				<key>com.apple.developer.team-identifier</key>
				<string>726YTZXNR7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>726YTZXNR7.com.imatz.toto.Nutrition</string>
				</array>
			</dict>
			<key>name</key>
			<string>TotoReactDiet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3d96f9ea-62d4-4d9b-9d5c-41e2428e62f9</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>726YTZXNR7</string>
				<key>name</key>
				<string>Nicolas Matteazzi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
